.color-box{
  display: block;
  height: 160px;
  text-align: center;
  padding: 20px 0;
  opacity: .9;
}

.color-box:hover{
  text-decoration: none;
  color: #555;
  opacity: 1;
  transform: scale(1.04);
  transition: all .3s;
}

.color-box:focus{
  text-decoration: none;
}

.color-box .count{
  font-size: 50px;
  height: 80px;
  line-height: 80px;
  margin-bottom: 0px;
}

.color-box .count .desc{
  font-size: 18px;
}

.color-box .desc .fa{
  margin-right: 5px;
}